In [2]:
import pandas as pd
import numpy as np

In [9]:
data = [{'eng':30,'kor':70,'math':100},
       {'eng':40,'kor':80,'math':10},
       {'eng':50,'kor':90,'math':20},
       {'eng':60,'kor':100,'math':30},
       {'eng':70,'kor':10,'math':40}]
df =pd.DataFrame(data,index=['aa','bb','cc','dd','ee'])
df

    eng  kor  math
aa   30   70   100
bb   40   80    10
cc   50   90    20
dd   60  100    30
ee   70   10    40

In [11]:
# 행과 열
df.shape

(5, 3)

In [13]:
# 행x열
df.size

15

In [16]:
# 몇차원?
df.ndim

2

In [19]:
# 데이터 타입확인
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [21]:
# 행과 열의 위치를 바꿔줌
df.T

       aa  bb  cc   dd  ee
eng    30  40  50   60  70
kor    70  80  90  100  10
math  100  10  20   30  40

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, aa to ee
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     5 non-null      int64
 1   kor     5 non-null      int64
 2   math    5 non-null      int64
dtypes: int64(3)
memory usage: 320.0+ bytes

In [29]:
df.index

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')

In [31]:
type(df.index)

pandas.core.indexes.base.Index

In [33]:
# 리스트의 리스트 구조 2차원
df.values

array([[ 30,  70, 100],
       [ 40,  80,  10],
       [ 50,  90,  20],
       [ 60, 100,  30],
       [ 70,  10,  40]], dtype=int64)

In [34]:
df.columns

Index(['eng', 'kor', 'math'], dtype='object')