In [3]:
import pandas as pd
import numpy as np

In [10]:
# 2차원 이상 DataFrame
df = pd.DataFrame([(1,10),(2,20),(3,30)],index=['a','b','c'],columns=['kor','eng']) # 리스트안에 튜플, 리스트 형식으로 구성
df

   kor  eng
a    1   10
b    2   20
c    3   30

In [8]:
df = pd.DataFrame([{'kor':1,'eng':2},{'kor':10,'eng':20}]) # 리스트안에 튜플, 리스트 또는 딕셔너리 형식으로 구성
df

   kor  eng
0    1    2
1   10   20